.App {
  xxx-text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
	text-align: center;
}

.plot-container {
  margin: 0 auto;
  width: 100%;
}

.plot {
	width: 100%;
}

.Label {
	text-align: left;
}

.NumValue {
	text-align: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NumFormField {
	text-align: right;
}

.ButtonRow {
  padding: 5px 5px;
}

.SettingsRow {
  background-color: #eee;
}